@font-face {
    font-family: "Modam Regular";
    src: url(../Fonts/Modam/ModamWeb-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "Peyda Regular";
    src: url(../Fonts/Peyda/PeydaWeb-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "KalamehWeb(FaNum) Regular";
    src: url(../Fonts/KalamehWeb/KalamehWeb\(FaNum\)-Regular.woff2) format("woff2");
}

/** Media Querys */
@media screen and (max-width: 992px) {
    nav {
        padding: 20px 20px !important;
        align-items: center;
        
        .right-nav {
            justify-content: start !important;
            gap: 14px !important;

            .logo-type {
                
                .type {
                    margin: 0;
                    font-size: 20px !important;
                }
            }

            .link-menu {
                display: none !important;
            }
        }

        .left-nav {
            .sign-in-btn {
                display: none !important;
            }
        }

        .burger-menu,.burger-img {
            display: inline !important
        }

        .burger-img {
            width: 24px;
        }
    }

    .respon-menu {
        display: block !important;
        right: -100vw !important; 
        transition: all ease 800ms 100ms;  

        .respon-burgerMenu {
            display: flex;
            flex-direction: column; 

            padding: 30px 10px;
            
            .burger-menuNav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo-type {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    justify-content: start;
    
                    .logo {
                        width: 35px;
                        height: 35px;
                    }
    
                    .type {
                        font-size: 20px !important;
                        font-family: "Modam Regular" !important;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        color: var(--dark);
                        margin: 0;
                    }
                }
                .close-icon {
                    width: 30px;
                }
            }

            .burger-menuOptions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-right: 40px;

                .menu-option {
                    /* text-align: center; */
                    list-style: none;
                    font-family: "Peyda Regular";
                    font-size: 18px;
                    font-style: normal;
                    line-height: normal;
                    text-decoration: none;
                    color: #707786;
                    transition: all ease 300ms 100ms;
                }
            }
        }

        .theme {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .theme-text {
                list-style: none;
                    font-family: "Peyda Regular";
                    font-size: 18px;
                    font-style: normal;
                    line-height: normal;
                    text-decoration: none;
                    color: #707786;
                    padding-right: 40px;
            }

            .theme-icon {
                padding-left: 8px;
            }
        }
    }
    .active {
        backdrop-filter: blur(10px);
        right: 0 !important;
    }

    .line-1 {
        margin: 0 !important;
    }

    header {
        justify-content: center !important;
        flex-direction: column !important;
        padding: 35px 20px !important;
        gap: 50px;
        
        .right-header {
            width: 100% !important;

            .header-primary-text {
                font-size: 30px !important;
            }
            .header-second-text {
                font-size: 15px !important;
                width: auto !important;
            }
        }

        .left-header {
            flex-direction: column;
            width: 100% !important;

            .header-cover-second, .header-cover-primary {
                display: none !important;
            }

            .respon-cover {
                display: inline-block !important;
                width: 340px;
            }
        }
    }

    .about {
        padding-left: 32px !important;
        padding-right: 32px !important;

        .logo-type-about {
            .logo-about {
                width: 27px !important;
            }
            .about-type { 
                font-size: 30px !important;
            }
        }
        .about-second-text {
            font-size: 12px !important;
            width: auto !important;
        }
        .counters {
            flex-direction: column;
            gap: 25px !important;
        }
    }

    .dark {
        .burger-img {
            filter: invert(1);
        }

        .respon-menu {

            .respon-burgerMenu {
                background-color: var(--dark);

                .burger-menuNav {

                    .logo-type {

                        .type {
                            color: #fff;
                        }
                    }
                    .close-menu {
                        filter: invert(1);
                    }
                }
            }
            .burger-menuOptions {

                .menu-option {
                    color: #fff;
                }
            }
            .theme {

                .theme-text {
                    color: #fff;
                }
                .theme-icon {
                    filter: invert(1);
                }
            }
        }
    }
}  

:root {
    --primary: #AB9AFF;
    --dark: #111;
}

*::-webkit-scrollbar {
    width: 7px;
  }

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #ab9aff;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.elem-1 {
    width: 465px;
    height: 465px;
    background-color: var(--primary);
    border-radius: 100%;
    filter: blur(200px );
    position: absolute;
    right: -245px;
    top: -200px;
    z-index: -100;
}

/** NavBar */
nav{
    padding: 34px 80px;
    display: flex;
    justify-content: space-between;

        .burger-menu,.burger-img {
            display: none;
        }

        .right-nav {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 40px;
            
                .logo-type {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    justify-content: start;
    
                    .logo {
                        width: 35px;
                        height: 35px;
                    }
    
                    .type {
                        font-family: "Modam Regular" !important;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        color: var(--dark);
                        margin: 0;
                    }
                }

                .link-menu{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 40px;
                    margin: 0;
                    padding: 0;
                    
                    .menu-option {
                        list-style: none;
                        font-family: "Peyda Regular";
                        font-size: 20px;
                        font-style: normal;
                        line-height: normal;
                        text-decoration: none;
                        color: #707786;
                        transition: all ease 300ms 100ms;
                    }

                    .menu-option:hover {
                        color: var(--dark);
                    }

                    .active {
                        color: var(--dark);
                    }
                }

            }

        .left-nav {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 15px;

            .sign-in-btn {
                font-family: "Modam Regular";
                padding: 10px 20px;
                border-radius: 57px;
                outline: none;
                border: 1px solid #000;
                background: none;
                transition: all ease 300ms 100ms;
            }
            
            .sign-in-btn:hover {
                background-color: #000;
                color: #fff;
            }
            
            .free-demo-btn {
                font-family: "Modam Regular";
                padding: 10px 20px;
                border-radius: 57px;
                background: none;
                color: var(--primary);
                border: none;
                outline: none;
                transition: all ease 300ms 100ms;
                border: 1px solid var(--primary);
            }

            .free-demo-btn:hover {
                background-color: var(--primary);
                color: #fff;
            }
        }
}   

.respon-menu {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;

    .respon-burgerMenu {
        width: 80%;
        height: 100%;
        background-color: #fff;
        -webkit-box-shadow: -45px 0px 75px -8px rgba(0,0,0,0.39);
        -moz-box-shadow: -45px 0px 75px -8px rgba(0,0,0,0.39);
        box-shadow: -45px 0px 75px -8px rgba(0,0,0,0.39);
    }
}

.line-1 {
    margin: 0 50px;
    color: #D8D8D8;
}

/** Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 70px 80px;
    
    .right-header {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px !important;

        
        .tag {
            display: inline-flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            border: 2px solid var(--primary);
            padding: 6px 15px;
            border-radius: 55px;
            
            .tag-img {
                width: 30px;
            }
            .tag-text {
                margin: 0;
                display: inline;
                font-family: "Modam Regular";
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: var(--dark);
            }
        }
        
        .header-primary-text {
            margin: 0;
            font-family: "Modam Regular";
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        
        .header-second-text {
            margin: 0;
            width: 550px;
            color: #707786;
            text-align: right;
            font-family: "Peyda Regular";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 192.857% */
        }

        .free-demo-btn {
            font-family: "Modam Regular";
            padding: 10px 20px;
            border-radius: 57px;
            background: none;
            color: var(--primary);
            border: none;
            outline: none;
            transition: all ease 300ms 100ms;
            border: 1px solid var(--primary);
            font-family: "Modam Regular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .free-demo-btn:hover {
            background-color: var(--primary);
            color: #fff;
        }
    }

    .left-header {
        display: flex;
        justify-content: end;
        width: 50%;
        gap: 20px;
        align-items: center;

        .header-cover-second {
            margin: 0;
            background-color: var(--primary);
            border-radius: 21px;
            height: 335px;
            width: 210px;

            .cover-second {
                width: 210px;
            }
            .cover-second-text {
                color: var(--dark);
                font-family: "Modam Regular";
                font-size: 11px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0;
                padding: 12px 15px 15px 15px;
                text-align: center;
            }
        }

        .respon-cover {
            display: none;
        }

        .header-cover-primary {
            width: 280px;
            height: 400px;
        }
    }
}

/** About */
.about {
    background-color: var(--dark);
    margin: 10px 20px;
    padding: 40px 0px;
    position: relative;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .elem-2 {
        user-select: none;
        position: absolute;
        top: 0;
        left: 15%;
        width: 935px;
    }

    .logo-type-about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        z-index: 2;

        .about-type {
            margin: 0;
            font-family: "Modam Regular";
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: #fff;
        }
    }

    .about-second-text {
        margin: 0;
        color: #fff;
        text-align: center;
        font-family: "Peyda Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px; /* 168.75% */
        width: 610px;
    }

    .counters {
        display: flex;
        justify-content: center;
        gap: 300px;

        .card {
            display: flex;
            justify-content: center;
            /* align-items: center; */
            flex-direction: column;
            gap: 20px;
            
            .details {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-direction: column;

                .title {
                    display: inline-block;
                    margin: 0;
                    font-family: "KalamehWeb(FaNum) Regular";
                    color: #fff;
                    text-align: center;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 27px; /* 50% */
                }
                .more {
                    margin: 0;
                    display: inline-block;
                    color: #707786;
                    text-align: center;
                    font-family: "KalamehWeb(FaNum) Regular";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 27px; /* 135% */
                }
            }
        }
    }

    .more-btn {
        font-family: "Modam Regular";
        padding: 15px 20px;
        border-radius: 57px;
        background: none;
        border: none;
        outline: none;
        transition: all ease 300ms 100ms;
        color: #fff;
        background-color: var(--primary);
        border: 1px solid var(--primary);
        width: 256px;
        margin-top: 30px;
    }
    
    .more-btn:hover {
        background-color: transparent;
        color: var(--primary);
    }
}


/** Dark Mod */
.dark {
    background-color: #111;

    /** NaBar */
    nav {
        .right-nav {
            .type {
                color: #fff;
            }

            .menu-option:hover {
                color: #fff;
            }

            .active {
                color: #fff;
            }
        }
        .left-nav {
            .sign-in-btn{
                color: #fff;
                border-color: #fff;
            }
            .sign-in-btn:hover {
                color: #111;
                background-color: #fff;
            }
        }
    }

    /** Header */
    header {

        .right-header {

            .tag-text {
                color: var(--primary);
            }

            .header-primary-text {
                color: #fff;
            }
        }

        .left-header {

            .cover-second-text {
                color: #fff;
            }
        }
    }

    /** About */
    .about {
        .elem-2 {
            display: none;
        }
    }
}
